### Thanks to the developers of the very useful dependencies...

* [@pigalle/entities.plugin](https://github.com/pigalle-io/pigalle.entities.plugin) by [pigalle.io](https://github.com/pigalle-io/)
* [@pigalle/core.importer](https://github.com/pigalle-io/pigalle.core.importer) by [pigalle.io](https://github.com/pigalle-io/)
* [@9fv.io/undefined-error](https://github.com/9fv/node-undefined-error) by [9fv.io](https://github.com/9fv/)

